.App-header {
  background-color: #222;
  /* height: 50px; */
  padding: 5px;
  color: white;
}

/* .App-title {
  font-size: 1.5em;
} */

.App-title
{
  font-family: base-mono-narrow, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5em;

  margin:0;
}
